<?xml version="1.0" encoding="utf-8"?>
<!--
您 Web 项目的发布/打包进程将使用此文件。您可以通过编辑此 MSBuild 文件
来自定义该进程的行为。若要了解与此相关的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <AfterAddIisSettingAndFileContentsToSourceManifest>SkipFolders</AfterAddIisSettingAndFileContentsToSourceManifest>
    <IncludeSetACLProviderOnDestination>False</IncludeSetACLProviderOnDestination>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <UseMsDeployExe>true</UseMsDeployExe>
    <DesktopBuildPackageLocation>..\Release\ODCenter\ODCenter.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site/ODCenter</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=(local)\MSSQL;Initial Catalog=ODCenter;User ID=root;Password=root" Name="Data Source=(local)\MSSQL;Initial Catalog=ODCenter;User ID=root;Password=root;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ODCenter.Models.UserDbContext, ODCenter" MigrationConfiguration="ODCenter.Migrations.User.Configuration, ODCenter" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=(local)\MSSQL;Initial Catalog=ODCenter;User ID=root;Password=root;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <Target Name="CreateFolders">
    <MakeDir Directories="$(_MSDeployDirPath_FullPath)\Images\Institute" />
    <MakeDir Directories="$(_MSDeployDirPath_FullPath)\Images\Group" />
    <MakeDir Directories="$(_MSDeployDirPath_FullPath)\Update" />
    <MakeDir Directories="$(_MSDeployDirPath_FullPath)\Resource\Report" />
    <MakeDir Directories="$(_MSDeployDirPath_FullPath)\IOServ" />
  </Target>
  <Target Name="SkipFolders" DependsOnTargets="CreateFolders">
    <ItemGroup>
      <MsDeploySkipRules Include="SkipImgInsFolder">
        <ObjectName>dirPath</ObjectName>
        <AbsolutePath>Images\\Institute</AbsolutePath>
      </MsDeploySkipRules>
      <MsDeploySkipRules Include="SkipImgGrpFolder">
        <ObjectName>dirPath</ObjectName>
        <AbsolutePath>Images\\Group</AbsolutePath>
      </MsDeploySkipRules>
      <MsDeploySkipRules Include="SkipUpdateFolder">
        <ObjectName>dirPath</ObjectName>
        <AbsolutePath>Update</AbsolutePath>
      </MsDeploySkipRules>
      <MsDeploySkipRules Include="SkipReportFolder">
        <ObjectName>dirPath</ObjectName>
        <AbsolutePath>Resource\\Report</AbsolutePath>
      </MsDeploySkipRules>
      <MsDeploySkipRules Include="SkipIOServFolder">
        <ObjectName>dirPath</ObjectName>
        <AbsolutePath>IOServ</AbsolutePath>
      </MsDeploySkipRules>
      <MsDeploySkipRules Include="SkipSVNFolder">
        <ObjectName>dirPath</ObjectName>
        <AbsolutePath>.svn</AbsolutePath>
      </MsDeploySkipRules>
    </ItemGroup>
  </Target>
</Project>