@charset "UTF-8";
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

input,
select,
textarea {
  max-width: 280px;
}

.nav-side {
  position: relative;
  float: left;
  margin: 0;
}
@media (min-width: 0) {
  .nav-side {
    width: auto;
    display: none;
  }
}
@media (min-width: 481px) {
  .nav-side {
    width: 160px;
    display: table-cell;
  }
}
.nav-side .side-main {
  font-size: 15px;
  font-weight: bold;
  padding: 7px 7px 7px 7px;
}
.nav-side .side-sub {
  font-size: 12px;
  padding: 7px 7px 7px 35px;
}

@media (min-width: 0) {
  .nav-head {
    display: normal;
  }
}
@media (min-width: 481px) {
  .nav-head {
    width: auto;
    display: none;
  }
}
.nav-head .head-main {
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 0;
}
.nav-head .head-sub {
  text-indent: 12px;
  font-size: 12px;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 0;
}

.table-side {
  vertical-align: top;
}
@media (min-width: 0) {
  .table-side {
    width: 0;
    padding-right: 0;
  }
}
@media (min-width: 481px) {
  .table-side {
    width: 160px;
    padding-right: 8px;
  }
}

.table-panel {
  width: auto;
  vertical-align: top;
}
@media (min-width: 1px) {
  .table-panel {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 481px) {
  .table-panel {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.sensor_frame {
  float: left;
  font-size: 14px;
  position: relative;
  padding: 3px 3px 3px 3px;
}

.frame_header {
  float: left;
  position: relative;
  width: 100%;
  padding-bottom: 5px;
  margin: 10px 0 5px;
  font-weight: bold;
  border-bottom: 1px solid #eee;
}

.sensor_btn {
  width: 100%;
  text-align: left;
  padding: 3px 0 3px 0;
  padding-left: 8px;
  border-radius: 8px;
  background-color: lightgreen;
}

a.mode-disp:link {
  color: dimgray;
}
a.mode-disp:visited {
  color: dimgray;
}
a.mode-disp:hover {
  color: dimgray;
}
a.mode-disp:active {
  color: dimgray;
}

.btn-manage {
  color: black;
  padding: 1px 6px 1px 6px;
}

.detail_label {
  text-align: right;
  padding-right: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}

.detail_value {
  text-align: left;
  text-indent: 15px;
  padding-left: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}

@media (min-width: 0) {
  .sensor_frame {
    width: 100%;
  }
}
@media (min-width: 241px) {
  .sensor_frame {
    width: 50%;
  }
}
@media (min-width: 481px) {
  .sensor_frame {
    width: 100%;
  }
}
@media (min-width: 641px) {
  .sensor_frame {
    width: 50%;
  }
}
@media (min-width: 881px) {
  .sensor_frame {
    width: 33.3%;
  }
}
@media (min-width: 1121px) {
  .sensor_frame {
    width: 25%;
  }
}
@media (min-width: 1361px) {
  .sensor_frame {
    width: 20%;
  }
}
.glyphicon-sm {
  font-size: 12px;
  line-height: 12px;
}

.glyphicon-md {
  font-size: 14px;
  line-height: 14px;
}

.glyphicon-lg {
  font-size: 16px;
  line-height: 16px;
}

#map-container {
  padding-top: 3px;
  width: 100%;
  height: 90%;
}
#map-container #map-content {
  width: 100%;
  height: 100%;
}
#map-container #map-content .anchorBL {
  display: none;
}
#map-container #map-content .BMap_scaleCtrl {
  display: block !important;
  left: 0 !important;
  bottom: 0 !important;
}
#map-container #map-content label {
  max-width: none;
}
#map-container #map-control {
  position: relative;
  right: 10px;
  bottom: 10px;
}
#map-container #map-control #ins-btn {
  padding: 2px 5px 2px 5px;
  background-color: white;
  border-radius: 3px 0 0 3px;
  border: 1px solid #8ba4dc;
}
#map-container #map-control #ins-list {
  display: none;
  width: 200pt;
  height: 300pt;
  background-color: white;
  border: 1px solid #8ba4dc;
  border-radius: 3px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  z-index: -1;
}
#map-container #map-control #ins-list #ins-title {
  width: 100%;
  height: 24px;
  font-size: 16px;
  padding-left: 3px;
  color: white;
  background-color: #1a84f7;
}
#map-container #map-control #ins-list #ins-box {
  position: absolute;
  top: 2px;
  right: 0;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
}
#map-container #map-control #ins-list #ins-body {
  width: 100%;
  position: absolute;
  top: 24px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
#map-container #map-control #ins-list .ins-item {
  padding: 3px 2px 3px 2px;
  white-space: nowrap;
  border-radius: 2px;
}
#map-container #map-control #ins-list .ins-item:nth-child(odd) {
  background-color: white;
}
#map-container #map-control #ins-list .ins-item:nth-child(even) {
  background-color: #b5d5ff;
}
#map-container #map-control #ins-list .ins-item .description {
  color: darkgray;
  padding-left: 2px;
}
#map-container #map-control #ins-list .ins-item .description:before {
  content: "地址：";
}

/*# sourceMappingURL=desktop.css.map */
