@model ODCenter.Models.InstituteInfo
@{
    Layout = "~/Views/Shared/_LayoutClean.cshtml";
    ViewBag.Title = "OPC设备列表";
}
@Html.Partial("_AdminPartial", ViewData["opcserv"] = "active")
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>@ViewBag.Title</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
   
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-default" onclick="connectopcserver ">连接</button>
        </div>
    </div>
</div>
}
